body {
	margin: 0px;
	padding: 0px;
}

header{
	background-color: #052D66;
	width: 100%;
	height: 22%;
}

.logo img{
	width: 15%;
	height: 100%;
	float: left;
}

header h1{
	padding: 5px;
	font-family: Times New Roman;
	font-style: italic;
	font-size: 68px;
	color: white;
	text-align: center;
}

header h1 p{
	margin: 0px;
	padding: 0px;
	font-family: Times New Roman;
	font-style: italic;
	font-size: 20px;
	color: white;
	text-align: center;
	letter-spacing: 1px;
}

.nav{
	width: 100%;
	background: #d6d6f5;
	height: 50px;
}

ul{
	list-style: none;
	padding: 0px;
	margin: 0px;
	position: absolute;
	padding: 0px;
}

ul li{
	float: left;
	margin-top: 2px;
	margin-bottom: 2px;
	margin-left: 50px;
	padding: 10px;
}

ul li a{
	width: 170px;
	color: #052D66;
	text-decoration: none;
	font-size: 18px;
	text-align: center;
	padding: 10px;
	border-radius: 10px;
	font-family: Century Gothic;
	font-weight: bold;
}

a:hover{
	background: #669900;
}

ul li ul{
	background: #d6d6f5;
}

ul li ul li{
	float: none;
}

ul li ul{
	display: none;
}

ul li:hover ul{
	display: block;
}

.content{
	margin: 0px;	
	padding: 0px;
	background-color: #BED3F2;
}

p.tag{
	margin: 0px;
	padding: 40px;
	font-family: Times New Roman;
	font-weight: bolder;
	font-size: 26px;
	color: #660920;
	text-align: center;
}

.slide{
	margin: 0px;
	padding: 40px;
}

#outerbox{
	width: 650px;
	overflow: hidden;
}

#sliderbox{
	position: relative;
	width: 1950px;
	animation-name: jatinder;
	animation-duration:15s;
	animation-iteration-count: infinite;
}

#sliderbox img{
	float: left;
}

@keyframes jatinder{
	0%{
		left: 0px;
	}
	20%{
		left: 0px;
	}
	33.33%{
		left: -650px;
	}
	60%{
		left: -650px;
	}
	66.67%{
		left: -1300px;
	}
	93.33%{
		left: -1300px;
	} 
	100%{
		left: -1950px;
	}
	
}

.heaven{
	margin: 0px;
	padding: 10px;
	position: absolute;
	top: 205;
	left:10;
	width:250px;
	background-color: white;
	font-family: Times New Roman;
	font-weight: bolder;
	font-size: 14px;
	text-align: center;
}

.heaven h3{
	margin: 20px;
	padding: 0px;
	font-family: Times New Roman;
	font-weight: bolder;
	font-size: 16px;
	color: red;
	letter-spacing: 1px;
}

.heaven img{
	margin: 0px;
	padding: 5px;
}

.create{
	position: absolute;
	right: 30;
	top: 220;
}

.create button{
	font-family: Times New Roman;
	font-size: 18px;
}

.query{
	margin: 0px;
	padding: 10px;
	position: absolute;
	top: 270;
	right:10;
	width:280px;
	background-color: white;
	font-family: Times New Roman;
	font-weight: bolder;
	font-size: 16px;
	text-align: center;
}

.visa{
	margin: 0px;
	padding: 10px;
	position: absolute;
	top: 375;
	right:10;
	width:280px;
	background-color: white;
	font-family: Times New Roman;
	font-weight: bolder;
	font-size: 16px;
	text-align: center;
}

.scroll{
	margin: 0px;
	padding: 20px;
	position: absolute;
	top: 500;
	right:10;
	width:260px;
	height: 370px;
	background-color: white;
	overflow: auto;
}

.image{
	margin-left: 300px;
	padding: 0px;
	width: 1000px;
}

.image h2{
	margin-left: 30px;
	padding: 0px;
	font-family: Times New Roman;
	font-weight: bolder;
	font-size: 32px;
	color: #660920;
	letter-spacing: 1px;
}

table{
	margin-top: 0px;
	border: 5px solid #BED3F2;
	padding: 0px;
	border-spacing: 10px;
}

table tr{
	margin: 0px;
	padding: 0px;
}

table tr td{
	margin: 0px;
	padding: 0px;
	border: 5px solid #EAE8E8;
}

footer{
	margin: 0px;
	padding: 0px;
	padding-top: 3px;
	padding-bottom: 3px;
	background-color: #5c5cd6;
	width: 100%;
	text-align: center;
	font-family: Times New Roman;
	font-style: solid;
	font-size: 18px;
	color: #FFFFFF;
	letter-spacing: 1px;
}